h1 {
    background-color: blue;
    color: white;
    text-align: center;
}

#imantha01{
    background-color: greenyellow;
    text-align: center;
}

.group01{
    background-color: green;
    color: white;
}

.group02{
    background-color: aquamarine;
    color: black;
}